@page "/cards"
@using CardNightFever.Data
@using CardNightFever.Shared
<h1>Cards</h1>


@if (_deck == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var card in _deck.Cards)
    {
        <Card PlayingCard="@card"></Card>
    }
}


@code {
    private Deck _deck;

    protected override async Task OnInitializedAsync()
    {
        _deck = new Deck();
        _deck.CreateDeck();
        _deck.ShuffleCards();
    }
}