@using CardNightFever.Data

    <div class="card">
        This is a card
        <div>
            Suite: @PlayingCard.Suit
        </div>
        <div>
            Rank: @PlayingCard.Rank
        </div>

    </div>

@code {
    [Parameter]
    public PlayingCard PlayingCard { get; set; }


}
